.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: .75rem;
}

button {
    display: inline-block;
    padding: .3rem .8rem;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    //disabled
    &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
    }
}

select {
    display: inline-block;
    padding: .3rem .8rem;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    &:focus {
        outline: none;
    }
}